@media (max-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 991px) {
    .promo {
        .title {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 30px;
        }
        .button_main {
            margin-top: 55px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin-top: 13px;
            li {
                list-style-type: none;
                width: 20px;
                background-color: grey;
                height: 5px;
                button {
                    display: none;
                }
            }
            .slick-active {
                background-color: black;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 175px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__contacts {
            button {
                width: 140px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        .title {
            font-size: 34px;
        }
        &__subheader {
            font-size: 17px;
        }
        .button_main {
            margin-top: 55px;
            width: 255px;
        }
    }
    .advantages {
        padding: 50px 0 40px 0;
        &__header {
            font-size: 26px;
        }
        &__wrapper {
            align-items: center;
            justify-content: space-around;
            margin-top: 18px;
            flex-wrap: wrap;
        }
        &__block {
            margin-top: 20px;
        }
        &__subheader {
            margin-top: 20px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: none;
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            button {
                width: 112px;
                font-size: 10px;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        min-height: 605px;
        padding-bottom: 60px;
        &__wrapper {
            align-items: center;
            margin-top: 60px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 12px;
        }
        .button_main {
            margin-top: 55px;
            width: 255px;
        }
        &__icons {
            width: 310px;
        }
    }
    .advantages {
        .title {
            font-size: 20px;
        }
    } 
    .consultation {
        min-height: 565px;
        padding: 65px 0 25px 0;
        .title {
            font-size: 20px;
            text-align: center;
            line-height: 30px;
        }
        &__descr {
            text-align: center;
            font-size: 16px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        padding-bottom: 40px;
    }
}