@import 'base/variables';
@import 'base/mixin';

* {
    font-family: 'Museo', sans-serif;
    // user-select: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/button.scss';
@import 'blocks/advantages.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carusel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/comment.scss';

// media
@import 'base/media.scss';